.default_button {
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 30px;
    color: black;
    background-color: #ffbc0e;
    border: none;
}

.default_button:hover{
    background-color: #ffda09;
}