@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=cyrillic-ext');


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    --blue: #1546af;
    --yellow: #ffc80b;
}


.f_norm {
    font-size: 16px;
}

.f_large {
    font-size: 40px;
}

.f_bold {
    font-weight: bold;
}

body.react-confirm-alert-body-element {
    overflow: auto;
}

.crutch_frame {
    width: 100%;
    height: 2200px;
}