.default_input{
    border-radius: 30px;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border: none;
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    text-transform: uppercase;
}

.default_input::placeholder{
    color: black;
}