.login_page {
    background-color: #001bdf;
    padding: 60px 80px 100px;
    color: white;
}

.login_page .header{
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.login_page .center_text{
    text-align: center;
    text-transform: uppercase;
}

.login_page .center_text p{
    margin-bottom: 20px;
}

.login_page .login_form p{
    text-align: center;
}