.login_page {
    background-color: var(--blue);
    padding: 60px 80px 100px;
    color: white;
}

.login_page .header {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.login_page .center_text {
    text-align: center;
    text-transform: uppercase;
}

.login_page .center_text p {
    margin-bottom: 20px;
    margin-top: 0;
}

.login_page .login_form {
    text-align: center;
}

.conf_button {
    margin-top: 20px;
    margin-bottom: 100px;
}

.recovery_pass {
    cursor: pointer;
    color: var(--blue);
}

.recovery_pass:hover {
    text-decoration: underline;
}

.border_blue{
    border: 1px solid var(--blue) !important;
    width: auto!important;
}
